.container{
     display: flex;
     
}
.customeNode {
     /* padding: 5px; */
     position: fixed;
     top: 7px;
     width: 40px;
     height: 40px;
     left: 6px;
     z-index: 9999999999;
     /* background: #0a66c2; */
     /* border-radius: 100%; */
}
.follow{
     left: 56px;
}